name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The existing tag (version) to be released (ex: 1.2.3).'
        type: string
        required: true
        default: ''

      create-github-release:
        description: 'Create GitHub release using tag (`false` to skip).'
        type: boolean
        required: true
        default: true

      release-AEPEdge:
        description: 'Release AEPEdge to Cocoapods (`false` to skip).'
        type: boolean
        required: true
        default: true

jobs:
  release:
    uses: timkimadobe/aepsdk-commons/.github/workflows/ios-release.yml@gha-ios-1.0.0
    with:
      tag: ${{ github.event.inputs.tag }}
      full-release-extensions: ${{ github.event.inputs.create-github-release == 'true' && 'AEPEdge' || '' }}
      pod-release-extensions: ${{ github.event.inputs.release-AEPEdge == 'true' && 'AEPEdge' || '' }}
    secrets: inherit