name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag (version) to be released (ex: 1.2.3).'
        type: string
        required: true
        default: ''

      create-github-release:
        description: 'Create a GitHub release with uploaded artifacts. If the provided `tag` does not exist, it will be created.'
        type: boolean
        required: true
        default: true

      pod-publish-extensions:
        description: 'Publish AEPEdge to Cocoapods.'
        type: boolean
        required: true
        default: true

jobs:
  release:
    permissions:
        contents: write
    uses: adobe/aepsdk-commons/.github/workflows/ios-release.yml@gha-ios-1.0.0
    with:
      tag: ${{ github.event.inputs.tag }}
      create-github-release: ${{ github.event.inputs.create-github-release == 'true' && 'AEPEdge' || '' }}
      pod-publish-extensions: ${{ github.event.inputs.pod-publish-extensions == 'true' && 'AEPEdge' || '' }}
    secrets: inherit