name: Build and Test (iOS)

on:
  pull_request:

jobs:
  call-reusable-workflow:
    uses: timkimadobe/aepsdk-commons/.github/workflows/ios-build-and-test.yml@gha-1.0.0
    with:
      device-names: '["iPhone 16", "iPhone 16 Pro"]'
      os-versions: '["18.0", "18.1"]'
      run-test-ios-unit: true
      run-test-ios-functional: false
      run-test-ios-integration: false
      run-test-tvos-unit: true
      run-test-tvos-functional: true
      run-build-xcframework-and-app: true
